$location1: #DBEDF4;
$location2: #FFDFC4;
$location3: #ffbbba;
$location4: #e3e3e3;
$location5: #D4CCFF;
$location6: #cef2cb;
$tableText: #95999C;

/*general styling for all location data panels*/
.locationData {
    width: 312px;
    border: 1px solid white;
    border-width: 1px;
    padding: 10px;

    tr:nth-child(even) {
        background-color: #F2F2F2;
        color: $tableText;
        height: 40px;
        border: 1px solid white;
        border-width: 1px;
    }

    tr:nth-child(odd) {
        color: $tableText;
        height: 40px;
        border: 1px solid white;
        border-width: 1px;

    }
    td {
        border: 1px solid white;
        border-width: 1px;
        padding-left: 5px;
        }



}

.loc1 {
    background-color: $location1;
    color: $tableText;
}
.loc2{ 
      background-color: $location2;
    color: $tableText;
}
.loc3{ 
      background-color: $location3;
    color: $tableText;
}
.loc4{ 
      background-color: $location4;
    color: $tableText;
}
.loc5{ 
      background-color: $location5;
    color: $tableText;
}
.loc6{ 
      background-color: $location6;
    color: $tableText;
}

/* All accordion content */
.accordion__container {
    margin-top: 30px;
}

.accordion__tab {
    color: white;
    border-bottom: 1px solid white;
}

.accordion__tab-title:nth-child(2)  {background: #90ccde; padding-top: 5px; margin-bottom: 2px; cursor: pointer; }
.accordion__tab-title:nth-child(3)  {background: #E66D00; padding-top: 5px; margin-bottom: 2px; cursor: pointer; }
.accordion__tab-title:nth-child(4)  {background: #963933; padding-top: 5px; margin-bottom: 2px; cursor: pointer; }
.accordion__tab-title:nth-child(5)  {background: #A6A6A6; padding-top: 5px; margin-bottom: 2px; cursor: pointer; }
.accordion__tab-title:nth-child(6)  {background: #5F4A7C; padding-top: 5px; margin-bottom: 2px; cursor: pointer; }
.accordion__tab-title:nth-child(7)  {background: #83c47f; padding-top: 5px; margin-bottom: 2px; cursor: pointer; }

.locationTitle {
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-top: 9px;
    color: white;
}
.accordion__tab-content {
    background: white;
    width: 312px;
}

#tableHeader {
     width: 312px;     
     height: 40px;
     background-color: #F2F2F2;
     color: #95999C;
     text-align: center;
     font-size: 15px;
     border: 1px white;
     padding-top: 7.5px;
     margin-top: 5px;
}

.triangle {

    float: right;
    transform: rotate(90deg);
    color: white;
    opacity: 0.3;
    padding-right: 20px;
    padding-top: 22px;

}


