$lato:'Lato', sans-serif;
$mainColor: #90ccde;
$h1: 4.25em;
$h2: 1.5em;
$h3: 1.3125em;
$h4: 1.125em;
$h5: 1em;
$small: 0.75em;

$location1maincolor: #90ccde;
$location2maincolor: #E66D00;
$location3maincolor: #963933;
$location4maincolor: #A6A6A6;
$location5maincolor: #5F4A7C;
$location6maincolor: #83c47f;

body {
	font-size: 16px;
	.container-fluid {
		background-color: $mainColor;
		.row {
			.main-wrapper {
				background-color: #fff;
				border-left: 6px #bbb solid;
				border-right: 6px #bbb solid;
				min-height: 100vh;
				max-height: 100vh;
			}
		}
	}
}


.header {
	margin-top: 5px;
	margin-bottom: 5px;
	.titles {
		img {
			vertical-align: top;
		}
		h1{
			display: inline-block;
			font-size: $h1;
			color: $mainColor;
			font-family: $lato; 
			margin: 0;
			vertical-align: top;
		}
	}
	.datepicker-wrapper {
		form.form-horizontal {
			padding: 20px 0;
			fieldset {
				span.add-on {
					border-radius: 0;
					background-color: $mainColor;
				}
				input.form-control {
					border-radius: 0;
				}
			}
		}
		#reservation {
			width: 100%;
		}
	}
}

// Main-wrapper styles start here

ul.nav-tabs {
	li, li.active {
		font-size: $h5;
		a {
			padding: 5px 25px;
		}
	}
	li {
		a {
			color: #5D93A3;
		}
	}
}
div.panel {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
	img.wire-frame {
		margin: auto;
	}
	#engagement {
		height: 515px;
	}
}
.detailsbutton{
	height: 1em;
	width: 4em;
	margin-bottom: 0.5em;
	border-radius:10%;
}

#new {
	background-color: $location1maincolor;
}

#new2 {
	background-color: $location2maincolor;
	
}

#new3 {
	background-color: $location3maincolor;
	
}

#new4 {
	background-color: $location4maincolor;
	
}

#new5 {
	background-color: $location5maincolor;
	
}

#new6 {
	background-color: $location6maincolor;
	
}
