$lato:'Lato', sans-serif;
$mainColor: #90ccde;
$h1: 4.25em;
$h2: 1.5em;
$h3: 1.3125em;
$h4: 1.125em;
$h5: 1em;
$small: 0.75em;

body {
	font-size: 16px;
	.container-fluid {
		background-color: $mainColor;
		.row {
			.main-wrapper {
				background-color: #fff;
				border-left: 6px #bbb solid;
				border-right: 6px #bbb solid;
				min-height: 100vh;
				max-height: 100vh;
			}
		}
	}
}


.header {
	margin-top: 5px;
	margin-bottom: 5px;
	.titles {
		img {
			vertical-align: top;
		}
		h1{
			display: inline-block;
			font-size: $h1;
			color: $mainColor;
			font-family: $lato; 
			margin: 0;
			vertical-align: top;
		}
	}
	.datepicker-wrapper {
		form.form-horizontal {
			padding: 20px 0;
			fieldset {
				span.add-on {
					border-radius: 0;
					background-color: $mainColor;
				}
				input.form-control {
					border-radius: 0;
				}
			}
		}
		#reservation {
			width: 100%;
		}
	}
}

// Main-wrapper styles start here

ul.nav-tabs {
	li, li.active {
		font-size: $h5;
		a {
			padding: 5px 25px;
		}
	}
	li {
		a {
			color: #5D93A3;
		}
	}
}
div.panel {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
	img.wire-frame {
		margin: auto;
	}
	#engagement {
		height: 515px;
	}
}

//Generic styling for all 6 location detail boxes

li.active1 {
	background-color: #95999C;
}

.piechart {
	height: 80%;
	width: 54%;
	margin-left: 6.5em;
	margin-top: -0.3em;
	border: 1px solid #DCDDDD;
}

.adfiller {
	height: 12em;
	width: 100%;
	padding: 0px;
}

.graphFiller {
	height: 100%;
	width: 100%;
	padding-right: 1.5em;
	width: 25.51em;
	margin-left: -0.89em;
	margin-top: 0.1em;

}

.notes {
	width: 100%;
	height: 12.1em;
	font-family: inherit;
	font-size: 14px;
	color: #95999C;
} 

.notesInput {
	width: 100%;
}
//Specific King Cross Location Details styling

.kingsx {
	h5 {
		background-color: #90ccde;
		color: white;
		padding: 0.5em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

ul.nav-tabs.kingsxNav {
	li {
		a {
			color: white;
			font-size: 0.7em;
			padding-left: 1em;
			padding-right: 1em;
		}
	}

	a:hover {
		background-color: initial;
		border: none;
	}

	background-color: #90ccde;
	margin-left: 1em;
	width: 25em;
	height: 1.78em;
}

#kingsdiv {
	height: 500px;
	background-color: #DBEDF4;
}

.kingxNav {
	background-color: #90ccde;
	width: 100%;
	padding: 1em;

		ul {
			li
		    	{
					color: white;
			 	}
			}

}

//Specific Covent Garden location details styling

.covg {
	h5 {
		background-color: #E66D00;
		color: white;
		padding: 0.5em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

ul.nav-tabs.covgNav {
	li {
		a {
			color: white;
			font-size: 0.7em;
			padding-left: 1em;
			padding-right: 1em;
		}
	}

	a:hover {
		background-color: initial;
		border: none;
	}

	background-color: #E66D00;
	margin-left: 1em;
	width: 25em;
	height: 1.78em;
}

#covgdiv {
	height: 500px;
	background-color: #FFDFC4;
}

.covgNav {
	background-color: #E66D00;
	width: 100%;
	padding: 1em;

		ul {
			li
		    	{
					color: white;
			 	}
			}

}




