$lato:'Lato', sans-serif;
$mainColor: #90ccde;
$h1: 4.25em;
$h2: 1.5em;
$h3: 1.3125em;
$h4: 1.125em;
$h5: 1em;
$small: 0.75em;

body {
	font-size: 16px;
}

.container-fluid {
	height: 100vh;
}

.header {
	margin-top: 10px;
	margin-bottom: 15px;
	.col-md-7 {
		img {
			vertical-align: top;
		}
		h1{
			display: inline-block;
			font-size: $h1;
			color: $mainColor;
			font-family: $lato; 
			margin: 0;
			vertical-align: top;
		}
	}
	.datepicker-wrapper {
		form.form-horizontal {
			padding: 20px 0;
			fieldset {
				span.add-on {
					border-radius: 0;
					background-color: $mainColor;
				}
				input.form-control {
					border-radius: 0;
				}
			}
		}
	}
}

// Main-wrapper styles start here

ul.nav-tabs {
	li, li.active {
		font-size: $h5;
		a {
			padding: 5px 25px;
		}
	}
	li {
		a {
			color: #5D93A3;
		}
	}
}
div.panel {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.kingsx {
	h5 {
		background-color: #90ccde;
		color: white;
		padding:0.5em;
	}
}

.kingxNav {
	background-color: #90ccde;
	width: 100%;
	padding: 1em;

}

.kingsxNav li {
	display: inline;
	padding: 0.5em;
	font-size: 1em;
}

.kingsxNav ul {
	background-color: #90ccde;
}

.kingsxNav a {
	color: white;
}


.piechart {
	height: 100%;
	width: 100%;
	margin-left: 4em;
}

.adfiller {
	height: 9.8em;
	width: 100%;
	padding: 0px;
}

.graphFiller {
	height: 100%;
	width: 100%;
	padding: 0px;
}

.notes {
	width: 100%;
	height: 8em;
	padding-top: 20px;
	padding-bottom: 20px;
} 

