<!DOCTYPE html>
<html lang="en" ng-app="mudunoApp">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div ng-controller="PanelCtrl as panel" class="col-md-10 col-md-offset-1">

            <h1>Muduno</h1>

            <ul class="nav nav-tabs">
                <li ng-class="{ active : panel.isSelected(1) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(1)">{{'Overview'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(2) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(2)">{{'Location'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(3) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(3)">{{'Engagement'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(4) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(4)">{{'Control'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(5) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(5)">{{'Contact'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(6) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(6)">{{'Alerts'}}</a>
                </li>
            </ul>

            <div>{{ tab }}</div>
            
            <div class="panel" ng-show="panel.isSelected(1)">Overview</div>
            <div class="panel" ng-show="panel.isSelected(2)">Location</div>
            <div class="panel" ng-show="panel.isSelected(3)">
                <img src="img/engagement.png" alt="" class="img-responsive">
            </div>
            <div class="panel" ng-show="panel.isSelected(4)">
                <img src="img/control.png" alt="" class="img-responsive">
            </div>
            <div class="panel" ng-show="panel.isSelected(5)">
                <img src="img/contact.png" alt="" class="img-responsive">
            </div>
            <div class="panel" ng-show="panel.isSelected(6)">Alerts</div>

        </div>
<!--     </div>
</div>

<div class="container-fluid">
    <div class="row"> -->
        
    </div>
</div>
</body>
</html>
