<!DOCTYPE html>
<html lang="en" ng-app="mudunoApp">
<head>

<!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <title>Muduno</title>

<!-- LINK CSS STYLESHEETS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="css/location.css">
    <link rel="stylesheet" href="css/main.css">

<!-- D3 SCRIPT TAG -->
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

<!-- BOWER COMPONENTS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="http://d3js.org/queue.v1.min.js"></script>
    

<!-- LINK JAVASCRIPT FILES -->
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/daterangepicker.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
   


    
</head>
<body>
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row header">

        <div class="col-md-7 col-md-offset-1">
            <h1>Muduno</h1>
        </div>
        <div class="col-md-2">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="01/11/2014 - 31/12/2014" /> 
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form> 
        </div>

    </div>

    <div class="row main-wrapper">

        <div ng-controller="PanelCtrl as panel" class="col-md-10 col-md-offset-1">

            <ul class="nav nav-tabs">
                <li ng-class="{ active : panel.isSelected(1) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(1)">{{'Overview'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(2) }" role="presentation">
                    <a href="" class="locationstab" ng-click="panel.selectTab(2)">{{'Location'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(3) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(3)">{{'Engagement'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(4) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(4)">{{'Control'}}</a>
                </li>
                <li ng-class="{ active : panel.isSelected(5) }" role="presentation">
                    <a href="" ng-click="panel.selectTab(5)">{{'Contact'}}</a>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" href="" data-toggle="dropdown">Alerts <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Campaign ends soon!</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">High Volume in King's Cross</a></li>
                    </ul>
                </li>
            </ul>

            <div>{{ tab }}</div>

            
            <!-- Overview Panel -->
            <div class="panel" ng-show="panel.isSelected(1)">
                <div class="row">
                    <div class="col-md-4 col-md-offset-8">
                        <div class="btn-group" role="group">
                            <button class = "hourButton btn btn-default">Hourly</button>
                            <button class = "dailyButton btn btn-default">Daily</button>
                            <button class="btn btn-default">Weekly</button>
                            <button class="btn btn-default">Monthly</button>
                        </div>
                    </div>
                
                       <svg class = "chart"></svg> 
                  
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Engagements</h4>
                        <div class="col-md-12">
                            <blockquote>##</blockquote>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Average Time on App</h4>
                        <div class="col-md-12">
                            <blockquote>##</blockquote>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 style="text-align:center;padding:25px;">Graph goes here</h1>
                    </div>
                    <div class="col-md-3">
                        <h4>Top Locations</h4>
                        <div class="col-md-12">
                            <blockquote>##</blockquote>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Campaign Days Left</h4>
                        <div class="col-md-12">
                            <blockquote>##</blockquote>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Location Panel -->
            <div class="panel" ng-show="panel.isSelected(2)" ng-controller="DataTableCtrl as location"> 
                <div class="col-md-4">
                    <div class="accordion__container"></div>   
                    
                    <div class="accordion__tab-title"ng-controller="AccordionCtrl" ng-repeat="location in locations | limitTo: 6"ng-click="openTab('tab one')"><h5 class="locationTitle">{{location.location}}<div class="triangle"><span class="glyphicon glyphicon-play"></span></div></h5> 
   
                            <div class="accordion__tab-content" ng-show="isOpenTab('tab one')"> 
           
                                <h2 id="tableHeader">Overview</h2>
                                 <div ng-class="{'loc1' : $index == 0, 'loc2' : $index == 1, 'loc3' : $index == 2, 'loc4' : $index == 3, 'loc5' : $index == 4, 'loc6' : $index == 5}" >
                                <table class="locationData">                              
                             
                                    <tr>
                                        <td>Engagements</td>
                                        <td>{{location.engagements}}</td>
                                    </tr>
                                    <tr>
                                        <td>Social Shares</td>
                                        <td>{{location.socialShares}}</td>
                                    </tr>
                                    <tr>
                                        <td>Claims</td>
                                        <td>{{location.claims}}</td>
                                    </tr>
                                    <tr>
                                        <td>Rewards Left</td>
                                        <td>{{location.rewardsLeft}}</td>
                                    </tr>
                                    <tr>
                                        <td>Reward Type</td>
                                        <td>{{location.rewardType}}</td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                    </div>
                </div>
                <div class ="col-md-6 col-md-offset-1">
					<div id="map-canvas"></div>
				</div>
            </div>

            
            <!-- Engagement Panel -->
            <div class="panel" ng-show="panel.isSelected(3)">
                <img src="img/engagement.png" alt="" class="img-responsive">
            </div>

            <!-- Control Panel -->
            <div class="panel" ng-show="panel.isSelected(4)">
                <img src="img/control.png" alt="" class="img-responsive">
            </div>

            <!-- Contact Panel -->
            <div class="panel" ng-show="panel.isSelected(5)">
                <img src="img/contact.png" alt="" class="img-responsive">
            </div>

        </div>
        
    </div>
</div>


<script type="text/javascript">

$(document).ready(function() {
    $('#reservation').daterangepicker(
        {
            format: 'DD/MM/YYYY',
            startDate: '01/11/2014',
            endDate: '31/12/2014',
            showDropdowns: true,
            opens: 'left'
        },
        function(start, end) {
            dates = {
                startDay: start.format('DD'),
                startMonth: start.format('MM'),
                startYear: start.format('YYYY'),
                endDay: end.format('DD'),
                endMonth: end.format('MM'),
                endYear: end.format('YYYY'),
            }
            console.log(dates);
        }
    );
});

</script>   
<script type="text/javascript" src="js/overview.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=AIzaSyDTzahCEc8Rvg1HnKAfsZ3jonSZFzRE1CY.exp"></script>
<script type="text/javascript" src="js/map.js"></script>

</body>
</html>
